@font-face {
    font-family: 'beachday';
    src: url(beachday.otf);
}

body{
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;

}

header{
    background-color: #8c8c8c;
    padding-top: 1px;
}

.headertext{
    font-family: beachday;
    text-align: center;
    font-size: 500%;
    margin: 13px;
    text-shadow: 2px 2px 5px #2b2b2b95;
}

.faketext{
    color: #8e1111;
}

nav{
    background-color: #5f5f5f;
}

nav ul{
    list-style-type: none;
    gap: 10px;
    display: flex;
    justify-content: center;
}

.botaomenu{
    display: inline-block;
    color: white;
    padding: 7px 10px;
    font-weight: bold;
    text-decoration: none;
    text-shadow: 2px 2px 5px #2b2b2b;
}

.botaomenu:hover{
    background-color: #707070bf;
    text-shadow: 2px 2px 10px #e1e1e1;
}

.fundo{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vw;
    background-image: url('https://www.ipu.org/sites/default/files/styles/large_cropped/public/fake-news-2-850_1.jpg?itok=rhRnEUQx');
    background-size: cover;
    background-position: center;
    filter: blur(10px);
    z-index: -1;
}

.conteudo {
    max-width: 800px;
    margin: 50px auto;
    background-color: #fcfcfc;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 0 15px #00000033;
    position: relative;
    z-index: 1;
}

.primeiro{
    background-color: white;
    text-align: center;
    padding-left: 15px;
    position: relative;
    top: 150px;
    margin-left: 40%;
    margin-right: 5%;
    border-left: 5px solid #8e1111;
    border-top-left-radius: 10px;


}